

  <div class="row">

    <div class="six columns">
      <img src="/assets/hukkster1.png" />
      <h4>Hukkster (Product Listing Page):</h4>
      <p>Online shopping startup that uses a bookmarklet to track retail items and alert users when items they’ve followed go on sale. Responsible for branding, design, and HTML5/CSS3 markup for initial site launched in April 2012 and covered in <a href = 'http://www.forbes.com/sites/meghancasserly/2012/06/21/hukkster-or-how-ill-never-miss-a-sale-again/' target = '_blank'>Forbes Startup Watch</a>.</p>
    </div>

    <div class="six columns">
      <img src="/assets/hukkster2.png" />
      <h4>Hukkster (Landing/Signup Page):</h4>
      <p>Online shopping startup that uses a bookmarklet to track retail items and alert users when items they’ve followed go on sale. Responsible for branding, design, and HTML5/CSS3 markup for initial site launched in April 2012 and covered in <a href = 'http://www.forbes.com/sites/meghancasserly/2012/06/21/hukkster-or-how-ill-never-miss-a-sale-again/' target = '_blank'>Forbes Startup Watch</a>.</p>
    </div>

  </div>

  <div class="row">

    <div class="six columns">
      <img src="/assets/matisse1.png" />
      <h4>Multiples by Matisse</h4>
      <p>Christie’s (Multiples by Matisse from the Matisse Family Collections, November 19 - December 4, 2012): Product design and management for Christie’s first ever online only sale of fine art.</p>
    </div>

    <div class="six columns">
      <img src="/assets/matisse2.png" />
      <h4>Multiples by Matisse</h4>
      <p>Christie’s (Multiples by Matisse from the Matisse Family Collections, November 19 - December 4, 2012): Product design and management for Christie’s first ever online only sale of fine art.</p>
    </div>

  </div>

  <div class="row">

    <div class="six columns">
      <img src="/assets/bffs.png" />
      <h4>BFFs</h4>
      <p>BFFs is an app that lets you add, edit and delete your best friends. It's a great way to keep track of all the important people in your life.</p>
    </div>

    <div class="six columns">
      <img src="/assets/movielookup.png" />
      <h4>Movie Lookup</h4>
      <p>Movie Lookup is an app that leverages the <a href = 'http://www.omdbapi.com/' target = '_blank'>The Open Movie Database API</a> -enabling you to look the title, year, rating and movie poster for your favorite flicks. Go nuts!</p>
    </div>

  </div>

  <div class="row">

    <div class="six columns">
      <img src="/assets/cookbook.png" />
      <h4>Cookbooks</h4>
      <p>Cookbooks is the perfect app for sharing your cookbook titles with friends and family.</p>
    </div>

    <div class="six columns">
      <img src="/assets/puppytracker.png" />
      <h4>Puppy Tracker</h4>
      <p>Finally an app that lets you store all your puppies' information in one place.</p>
    </div>

  </div>
